In [1]:
from platform import python_version
print(python_version())

3.7.4

In [2]:
# filname.py
"""This is the file header.
The header contains the basic information about the file
"""
if __name__ == "__main__":
    pass

The difference between # in code and markdown that in code it will be ignored while in markdown it will be as a header

In [3]:
"""This is the file header.
The header contains the basic information about the file
"""
if __name__ == "__main__": #this is used when it is run as the main program
    print("Hello, world!")

Hello, world!

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

The difference between print() and help(print) that print() will print to the screen while help(print) gives information and various knowledege about print()

In [5]:
print(3+1)
print(7-2)
print(4*4)
print(20/10)

4
5
16
2.0

In [6]:
x = 5
y = 2*2 + 1
x==y

True

In [7]:
x,y=5,2**(2+1)
x==y

False

In [8]:
def add(x,y):
    return x+y
add(2,5)

7

In [9]:
def compare(x,y):
    return x==y
compare(7,8)

False

In [10]:
def add(x,y):
    return x,y,x+y
FV, SV, S=add(2,5)
print("first variable is {} second variable is {} and summation is {}".format(FV,SV,S))

first variable is 2 second variable is 5 and summation is 7

In [11]:
def sphere_volume(r):
    return 4/3*3.14159*(r**3)
if __name__ == "__main__":
    print(sphere_volume(3))

113.09723999999999

In [12]:
def information(Course, Professor, level='8'):
    print(Course + ' is in '+ level+ ' which is delivered by '+ Professor)
if __name__ == "__main__":
    Course ="IS-372 Data Mining & Data Warehouse"
    Professor = "A/Prof. Mohammed Al-Sarem"
    information(Course,Professor)

IS-372 Data Mining & Data Warehouse is in 8 which is delivered by A/Prof. Mohammed Al-Sarem

Yes, it is possible to reorder the sequence of the variables

In [13]:
if __name__ == "__main__":
    information(Professor="A/Prof. Mohammed Al-Sarem",Course="IS-372 Data Mining & Data Warehouse")

IS-372 Data Mining & Data Warehouse is in 8 which is delivered by A/Prof. Mohammed Al-Sarem

In [14]:
Course_Name = "IS-372 Data Mining & Data Warehouse"
print(Course_Name[2])

-

In [15]:
print(Course_Name[:6])

IS-372

In [16]:
print(Course_Name[-1])

e

In [17]:
print(Course_Name[:5])

IS-37

In [18]:
print(Course_Name[6:])

 Data Mining & Data Warehouse

In [19]:
my_list = ["Hello", 93.8, "world", 10]

In [20]:
my_list[0]

'Hello'

In [21]:
my_list[-2]

'world'

In [22]:
my_list[:2]

['Hello', 93.8]

In [23]:
my_list = [1,2]
my_list.append(4)
my_list.insert(2,3)
my_list.remove(3)
my_list.pop()

4

append method does not return any value as it inserts a new value at the end of the list

insert method does not return any value as it inserts a new value at its position according to the order

remove method does not return any value as it removes a value in the list

pop method removes the last value in the list and returns it

In [24]:
def arithmetic(a,b):
    """Return the difference and the product of the two inputs."""
    return a-b,a*b
x,y = arithmetic(5,2)
print(x,y)
both = arithmetic(5,2)
print(both)

3 10
(3, 10)

In [25]:
def list_ops():
    list_items = ["bear","ant","cat","dog"]
    list_items.append("eagle")
    list_items[2] = "fox"
    list_items.remove("ant")
    list_items.sort(reverse=True)
    num = list_items.index("eagle")
    list_items[num] = "hawk"
    list_items.append("hunter")
    return list_items
print(list_ops())

['fox', 'hawk', 'dog', 'bear', 'hunter']

In [26]:
DataMining_Professors = {"Muhannad, Al-Mohaeemid","Faisal, Saeed","Mohammed, Al-Sarem"}
print(DataMining_Professors)

DataMining_Professors.add("Wadii, Boulila")
DataMining_Professors.discard("Muhannad, Al-Mohaeemid")
print(DataMining_Professors)

Database_Professors = {"Muhannad, Al-Mohaeemid","Faisal, Saeed","Essa, Hizzam","Wadii, Boulila"}
DataMining_Professors.intersection(Database_Professors)
DataMining_Professors.difference(Database_Professors)

{'Muhannad, Al-Mohaeemid', 'Mohammed, Al-Sarem', 'Faisal, Saeed'}
{'Wadii, Boulila', 'Mohammed, Al-Sarem', 'Faisal, Saeed'}

{'Mohammed, Al-Sarem'}

In [27]:
DataScience_Track = {"IS-372": "Data Mining & Data Warehouse",
                    "IS-472": "Decision Support System",
                    "IS-476": "Information Search, Retrieval & Visualization",
                    "IS-453": "Special Topics in Data Management"
                    }
print(DataScience_Track["IS-453"])

DataScience_Track.keys()

DataScience_Track.values()

Special Topics in Data Management

dict_values(['Data Mining & Data Warehouse', 'Decision Support System', 'Information Search, Retrieval & Visualization', 'Special Topics in Data Management'])

In [28]:
i = 0
while i < 10:
    print(i, end=' ')
    i +=1

0 1 2 3 4 5 6 7 8 9

In [29]:
colors = ["red","green","blue","yellow"]
for entry in colors:
    print(entry +"!")

red!
green!
blue!
yellow!

In [30]:
s = "stab" 
for i in range(len(s)): 
    print (s[0 : i : 1])

s
st
sta